- var title      = "Lorem Ipsum Dolor";
- var autor      = "Lorencio Dolorus";
- var cadenahtml = "<em> Cadena </em>";
- var mensaje    = "Adsi 1132816";

h1= title
p Escrito con amor por #{autor}
p This will be safe: #{theGreat}
p #{cadenahtml}
p !{cadenahtml}
p #{mensaje.toUpperCase()}
p.
	 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente ducimus rerum fugiat natus, deserunt nam consequatur ipsa! Accusamus a, quam cumque nulla eius reiciendis, perspiciatis tempora qui aut adipisci dolorum!